html {
  scroll-behavior: smooth;
  max-width: 800px;
}

.lyrics-image {
  width: 250px;
}

.card-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  padding-bottom: 10px;
}

.content-section {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 80px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #000000;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 5px;
}

.info-button {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  margin-bottom: 40px;
}

